<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>卖家管理系统</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    {% block css%}
    {% endblock %}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>

    <ul class="nav nav-tabs">
        <li role="presentation" class="{{homeActive}}"><a href="/admin">卖家首页</a></li>
        <li role="presentation" class="{{gooslistActive}}"><a href="/admin/goodslist">商品列表</a></li>
        <li role="presentation" class="{{orderlistActive}}"><a href="/admin/orderlist">订单列表</a></li>
        <li role="presentation" class="{{addgoodsActive}}"><a href="/admin/addgoods">添加商品</a></li>
        <li role="presentation" class="{{goodslistActive}}"><a href="/goodslist">商城首页</a></li>
        <li role="presentation"><a href="/admin/loginout">退出</a></li>
    </ul>
<div class="container">
    {% block content1%}
    {% endblock%}
    {% block content2%}
    {% endblock%}

</div>
</body>
</html>